{% extends "base.html" %}

{% block content %}
  <div id="scraping">
    <header>
      <nav>
        <ul>
          <li><a href='#scraping'>Scraping</a></li>
          <li><a href="/api/logout">Log out</a></li>
        </ul>
      </nav>
    </header>

    <div id="message-box" class="container"></div>

    <div class="container">
      <button type="button" class="primary-btn mb" id="init_indices">Initialize indices</button>
      <button type="button" class="primary-btn mb" id="start_scraping_2010_2016">
        Start manual scraping of records betweeen 2010 and 2016
      </button>
      <button type="button" class="primary-btn mb" id="start_scraping">Start manual scraping</button>
      <button type="button" class="primary-btn mb" id="start_delta_scraping">Start delta scraping</button>
    </div>
  </div>

  <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
  <script src="/api/static/js/main.js"></script>

{% endblock %}
