{% extends "base.html" %}

{% block content %}

  <div id="wrapper">
    <div id="signin">
      <form action = "/api/login" method="post">
        <div>
          <label>Username</label>
          <input type="text" class="text-input" name="username">
        </div>
        <div>
          <label>Password</label>
          <input type="password" class="text-input" name="password">
        </div>
        <button type="submit" class="primary-btn" value="submit">Sign in</button>
      </form>
    </div>
  </div>

{% endblock %}