<section class="search-bar-container">

  <navbar [solid]="true"></navbar>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <search-bar class="row"></search-bar>
      </div>
    </div>
  </div>
</section>

<section class="section results grey lighten-3" [hidden]="searchResults.length === 0">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <br>
        <ul class="collection z-depth-4">
          <div class="col s12 collection-item" *ngFor="let speech of searchResults">
            <div class="card blue-grey darken-1 hoverable">
              <div class="card-content white-text">
                <div class="row">
                  <p>
                    <span class="orange badge white-text speech-badge-mobile">
                    {{ speech._index === 'speeches' ? 'Beszéd' : 'Interjú' }}
                  </span>
                  </p>
                </div>
                <div class="row">
                  <p class="col s11 card-title">{{speech._source.title}}</p>


                  <p class="col s1">
                    <span class="orange badge white-text speech-badge">
                    {{ speech._index === 'speeches' ? 'Beszéd' : 'Interjú' }}
                  </span>
                  </p>


                </div>
                <div class="row">
                  <p class="col s12">
                    {{ speech._source.date * 1000 | date: 'yyyy. MM. dd.' }}
                  </p>
                  <p class="col s12">
                    {{ speech._source.lead }}
                  </p>
                </div>
                <div class="row">
                  <hr>
                </div>
                <div class="row">
                  <p class="col s12"
                    *ngFor="let paragraph of speech.highlight['paragraphs.content'] || speech.highlight"
                     [innerHTML]="'„' + paragraph + '”'"></p>
                </div>
              </div>
              <div class="card-action">
                <a [routerLink]="['/speech', speech._id]"
                   [queryParams]="{highlightedParagraphs: speech.innerParagraphIndexes}">Teljes beszéd</a>
                <a [href]="speech._source.url">Külső link</a>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section results grey lighten-3" [hidden]="searchResults.length !== 0">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <br>
        <ul class="collection z-depth-4">
          <div class="col s12 collection-item">
            <div class="card blue-grey darken-1 hoverable">
              <div class="card-content white-text">
                <span class="card-title">A keresett kifejezés - {{ searchTerm }} - nem található.</span>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</section>
