.badge {
  border-radius: 0.25rem;
}

.speech-badge {
  display: inline;
}

.speech-badge-mobile {
  display: none;
}

@media screen and (max-width: 550px) {

  .speech-badge {
    display: none;
  }

  .speech-badge-mobile {
    display: inline;
  }
}
