<section class="main-header">
  <div class="primary-overlay">

    <navbar></navbar>

    <div class="search-bar container">
      <div class="row">
        <div class="col s12">

          <h5>Keress...</h5>
          <h4>Orbán Viktor beszédeiben</h4>

          <search-bar class="row"></search-bar>

          <p class="source">
            Orbán Viktor huszonöt évvel ezelőtt, Nagy Piroska,
            <a href="http://nol.hu/data/cikk/1/46/83/27/cikk_1468327/204-000_1ED8B7431618EA77600944C7C18710BC7848B9B3-nol.jpg">forrás</a>
          </p>
          <p class="source-mobile">
            <a href="http://nol.hu/data/cikk/1/46/83/27/cikk_1468327/204-000_1ED8B7431618EA77600944C7C18710BC7848B9B3-nol.jpg">Borítókép forrása</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

