.main-header {
  background-size: cover;
  background: url(/assets/img/ov.jpg) center;
  background-size: cover;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  position: relative;
}

.primary-overlay {
  background: rgba(63, 57, 77, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header .search-bar {
  padding-top: 110px;
}

.source {
  position: absolute;
  bottom: 1%;
  left: 66%;
  opacity: 0.5;
}

.source-mobile {
  display: none;
}

@media screen and (max-width: 500px) {
  .source-mobile {
    display: block;
    position: absolute;
    bottom: 1%;
    left: 66%;
    opacity: 0.5;
  }

  .source {
    display: none;
  }
}

em {
  text-decoration: underline;
}

p {
  text-align: justify;
}
