.search-input, .search-input:focus {
  border-radius: 4px !important;
  border-bottom-color: grey !important;
  box-shadow: grey 0 0 0 0 !important;
}

.search-button {
  height: 3rem;
  line-height: 3rem;
}

.search-bar-container {
  padding-left: 0;
}

input.search-input {
  padding-left: 0.5rem;
}
