<div class="input-field col m10 s12 search-bar-container">
  <input type="text" class="white black-text darken-3 autocomplete search-input"
         (input)="searchTerm = $event.target.value"
         (keydown)="initiateSearch($event)"
         #searchBar>
</div>
<div class="input-field col m2 s6 offset-s3">
  <button class="btn waves-effect waves-orange orange lighten-2 search-button"
          (click)="initiateSearch($event)"
          type="submit"
          name="action">
    Keresés<i class="material-icons right">search</i>
  </button>
</div>
