<div class="navbar-fixed">
  <nav [ngClass]="{'transparent': !isSolid}" #navbar>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-navbar" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a [routerLink]="['']">Kereső</a></li>
<!--          <li><a [routerLink]="['about']">Mi ez?</a></li>-->
        </ul>
      </div>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-navbar">
  <li><a [routerLink]="['']">Kereső</a></li>
  <!--<li><a [routerLink]="['about']">Mi ez?</a></li>-->
</ul>
