<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/api/static/css/style.css">
  <title>Administration</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<!--------------------------------------------------------------------------------------------------------------------->

{% block content %}{% endblock %}

<!--------------------------------------------------------------------------------------------------------------------->

</body>
</html>