.row {
  padding-top: 4rem;
}

p {
  text-align: justify;
  line-height: 200%;
  margin-top: 1.2rem !important;
}

.card {
  height: 90vh;
  overflow: auto !important;
}

.card-title {
  font-style: italic;
  font-size: xx-large;
  margin-bottom: 3rem !important;
}

.card-lead {
  font-weight: bold;
  font-size: large;
}

.highlighted-paragraph {
  border: #a1887f 1px solid;
  border-radius: 2px;
}
