<section #speechSection>
  <div class="grey lighten-3">

    <navbar [solid]="true"></navbar>

    <div class="container black-text">
      <div class="row">
        <div class="col s12">
          <p class="card-title">{{speech.title}}</p>
          <p class="card-lead">{{speech.lead}}</p>

          <div *ngFor="let paragraph of speech.paragraphs">
            <p *ngIf="paragraph.interviewer_question"><em>{{paragraph.content}}</em></p>
            <p *ngIf="!paragraph.interviewer_question"
               [ngClass]="{'highlighted-paragraph': paragraph.isHighlighted}">{{paragraph.content}}</p>
          </div>

          <a *ngIf="speech.url" [href]="speech.url">A cikk eredeti címén itt olvasható</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn"
       data-position="top"
       data-tooltip="Változtasd a kiemelést">
    <button class="btn-floating btn-large brown lighten-3"
            [disabled]="!queryParams.hasOwnProperty('highlightedParagraphs')"
            (click)="toggleHighlighting()">
      <i class="large material-icons" *ngIf="isHighlightEnabled">highlight_off</i>
      <i class="large material-icons" *ngIf="!isHighlightEnabled">highlight</i>
    </button>
  </div>

</section>
