<section>
  <div class="grey lighten-3">
    <navbar [solid]="true"></navbar>

    <div class="container">
      <h2>Mi ez?</h2>
      <h4>Lorem?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate error incidunt ipsa, praesentium quaerat tempora tempore voluptates! Aperiam, fugit, quia.</p>
      <h4>Ipsum?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem impedit modi porro, possimus praesentium quos.</p>
    </div>
  </div>

</section>
