@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #3D3D3D;
  color: #FFF;
  overflow: hidden;
  line-height: 1.6;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #ccc;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 90vh;
  margin-top: 10vh;
}

#signin {
  width: 40%;
}

#signin form {
  width: 100%;
}

#signin label {
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 500;
}

#signin .text-input {
  width: 100%;
  border-radius: 2px;
  background: #181818;
  border: 1px solid #555;
  color: #ccc;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1.3rem;
}

.primary-btn {
  padding: 0.7rem 1rem;
  height: 2.7rem;
  display: block;
  border: 0;
  border-radius: 2px;
  font-weight: 500;
  background: #4F7CAC;
  color: #fff;
  text-align: center;
  transition: all 0.5s;
  width: 100%;
}

.primary-btn:hover {
  background-color: #7296BC;
}




/*Section*/
.section {
  padding: 2rem 0;
}

.section-head {
  font-size: 2.5rem;
  margin: 0;
}

.section h3 {
  font-size: 2rem;
}

/*Navigation*/

nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}

/*scraping*/

.mb {
  margin-bottom: 1rem;
}

#scraping {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

#scraping .container {
  margin-top: 10vh;
}

#scraping #message-box {
  background-color: #eee;
  height: 20vh;
  border-radius: 0.5rem;
  overflow-y: scroll;
}

#scraping #message-box p {
  color: black;
  font-family: sans-serif;
  font-size: medium;
  font-weight: bold;
}

#scraping #message-box hr {
  color: black;
}

#scraping h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

#scraping h2 {
  font-size: 2rem;
}

/*Utility classes*/
.container {
  max-width: 1180px;
  text-align: left;
  margin: 0 auto;
  padding: 0 3rem;
}

.close-button {
  margin-left: 15px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.close-button:hover {
  color: #000;
}